.App {
  font-family: sans-serif;
  text-align: center;
}
#box {
  border: 1px solid black;
  border-radius: 10px;
  background-color: blanchedalmond;
}
.selTit {
  width: 200px;
}
.fname {
  width: 200px;
}
